body{
  background-color: #fafaf0;
}
li{
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px  lightgrey;
}
li h4{
  border-bottom: solid red 1px;
}
li div{
  border-bottom: solid lightblue 1px;
}
